$navbar-default-color:  #fff !default;
$navbar-default-link-hover-color: #fff !default;
$navbar-default-link-hover-bg: darken(#3f729b, 10) !default;
$navbar-default-link-color: #fff !default;
$navbar-default-bg:     #3f729b !default;
$navbar-default-border: darken($navbar-default-bg, 6.5%) !default;
